[Unit]
Description=WCP360 Core Daemon
After=network.target

[Service]
User=wcp
Group=wcp
ExecStart=/opt/wcp360/bin/wcpd
Restart=always

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
MemoryDenyWriteExecute=yes

[Install]
WantedBy=multi-user.target
